{% extends 'base.html' %}

{% block container %}
 <div class="top-pad">
 {% for id, product in products.items() %}
 <div class="top-pad offset-1 col-sm-10">
 <div class="card text-center">
     <h2>
         <a href="{{ url_for('product.product', key=id)
                 }}">{{ product['name'] }}</a>
         <small>$ {{ product['price'] }}</small>
     </h2>

     {% from '_helpers.html' import render_field %}
<!--
<fieldset>
{{ render_field('username', 'icon-user') }}
{{ render_field('password', 'icon-key', type='password') }}
</fieldset>
-->

 </div>
 </div>
 {% endfor %}
 </div>
{% endblock %}